
@model MStudent

<style>
  th,td{
      text-align:  : center;
  }

</style>
<form action="/student/addstudent" method="post"> 
<div class="text-center p-3 row  border bg-white  justify-content-center ">

  <div class="col-3 ">
      <input required asp-for="Name" class="form-control" type="text" placeholder="name">


  </div>
  <div class="col-3 ">
      <input  required asp-for="Family" class="form-control" type="text" placeholder="family">


  </div>
  <div class="col-3 ">
      <input  required  asp-for="Phone" class="form-control" type="text" placeholder="Phone">


  </div>

  <div class="col-3 ">
    <button type="submit" class="btn btn-success form-control">Save info</button>


  </div>



</div>

</form>
<div class="row p-3 bg-white">

  <p class="text-center alert-primary">list student</p>

  <table class="table table-striped">

    <tr>
      <th>Row</th>
      <th>Name</th>
      <th>Family</th>
      <th>Phone</th>
      <th>Action</th>

    </tr>

  @{
    int i = 1;
  }

   @foreach (var item in ViewBag.List)
   {
     <tr>
      <td>@i</td>
      <td>@item.Name</td>
      <td>@item.Family</td>
      <td>@item.Phone</td>
      <td>
        <a href="/student/delete/@item.Id" class="btn btn-danger" onclick="return confirm('مطمئنی؟')">delete</a>
        <a href="/student/edit/@item.Id" class="btn btn-warning">edit</a>

      </td>

    </tr>

    i++;

   }

  </table>



</div>