<div class="text-center border p-5">
  <h1>Log In </h1>
  <form action="/home/check" method="post" >
    <input name="username" required type="text" placeholder="username" class="form-control"/>
    <input name="password"required type="password" placeholder="password" class="form-control mt-3"/>
    <button type="submit" class="mt-3 btn-success">Log In</button>
  </form>
  <a href="/signup">Sign Up</a>

</div>