@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    


    <form action="/home/SendSms" method="post">
     
    <input name="Phone" type="text" class="form-control" placeholder="phone">

    <button type="submit">SeendSms</button>
    
    
    
    </form>
</div>
