@model SaveProductCommand

<form action="/home/add" method="post">

<div class="text-center">
  
 <input type="text" asp-for="Name">

  <input type="text" asp-for="Description">

 <input type="text" asp-for="Price">

 <input type="text" asp-for="Color">

 <button type="submit"> Save </button>


</div>
</form>
