@model Table_User
<form action="/home/adduser" method="post"> 
<div class="text-center row">


    <div class="col-4">
    <input type="text" class="form-control" asp-for="Name" placeholder="name">
    </div>

    <div class="col-4">
    <input type="text" class="form-control" asp-for="username" placeholder="username">
    </div>
    
    <div class="col-4">
    <input type="text" class="form-control" asp-for="password" placeholder="password">
    </div>
     
     <div class="col-4">
    <input type="text" class="form-control" asp-for="Family" placeholder="family">
    </div>

     <div class="col-4">
    <input type="text" class="form-control" asp-for="Mobile" placeholder="mobile">
    </div>

    <div class="col-4">
    <input type="text" class="form-control" asp-for="Email" placeholder="email">
    </div>

    <div class="col-4">
    <button type="submit">Save</button>
    </div>

</div>
</form>