<form action="/Login/Sendcode" method="post">


       <div class="text-center p-5 m-5 border row" style="height: 400px;"> 

        <div class="col-12 text-center">
            <input name="Phone" class="form"  dir="rtl" type="text" placeholder="شماره تلفن خود را وارد کنید">
        </div>
 
        <div class="text-center col-12">
             <button type="submit" class="btn btn-success">ارسال کد</button>

         </div>
    
      </div>

</form>